<h1>Create a New Pitch.</h1>

<%= form_for :pitch, url: '/pitches' do |f| %>

    Title: <%= f.text_field :title %>
    Description: <%= f.text_field :description %>
    Final: <%= f.text_field :final %>
    <%= f.fields_for :student do |student_form| %>
      Full Name: <%= student_form.text_field :full_name %>
      Phase: <%= student_form.select :phase_num, ["1", "2", "3"] %>
    <% end %>
    <%= f.submit "Submit" %>

<% end %>
